.container {
  padding: 40px 30px;
  max-width: 1327px;
  width: 100%;
  margin: 0 auto;
}
.itemContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 24.3% 24.3% 24.3% 24.3%;
  grid-gap: 10px;
}
.imgContainer img {
  width: 100%;
  background: var(--lightgray);
  padding: 20px;
}
.item {
  cursor: pointer;
}
.item:hover {
  transition: all 0.8s;
  background: rgb(139, 182, 224);
}
.item:hover .imgContainer {
  transition: all 0.8s;
  display: none;
}
.txt {
  display: none;
}
.item:hover .txt {
  transition: all 0.8s;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.txt h5 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}
.imgContainer {
  width: 100%;
  /* height: 30vh; */
}

@media (max-width: 1047px) {
  .itemContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 860px) {
  .itemContainer {
    grid-template-columns: repeat(3, 1fr);
    padding-right: 10px;
  }
}
@media (max-width: 520px) {
  .itemContainer {
    grid-template-columns: 50% 50%;
    padding-right: 10px;
  }
  .container h1 {
    font-size: 50px;
  }
}
