.container {
  padding-top: 150px;
  width: 96%;
  max-width: 947px;
  margin: 0 auto;
  min-height: 100vh;
}

.head {
  width: 100%;
  min-height: 70vh;
  background: url("/images/show.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.itemContainer {
  display: grid;
  grid-template-columns: 32.3% 32.3% 32.3%;
  grid-gap: 10px;
}
.item {
  background: var(--lightgray);
  padding: 30px;
  min-height: 43vh;
}
.item:hover {
  transition: all 0.8s;
  background: rgb(139, 182, 224);
  cursor: pointer;
}
.item:hover .imgContainer {
  transition: all 0.8s;
  display: none;
}
.item img {
  width: 100%;
}
.txt {
  display: none;
}
.item:hover .txt {
  transition: all 0.8s;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.txt h5 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}

@media (max-width: 700px) {
  .container {
    padding-top: 180px;
  }
  .itemContainer {
    grid-template-columns: 50% 50%;
    padding-right: 10px;
  }
}
